* {
  margin: 0;
  padding: 0;
  margin-block-start: 5px;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-block-start: 0;
  padding-block-end: 0;
  padding-inline-start: 0;
  padding-inline-end: 0;
}
.container {
  width: 100vw;
  height: auto;
  background: linear-gradient(60deg, #1900fa, #616bff);
  background: white;
  font-family: "Alegreya Sans", sans-serif;
  font-size: 20px;
  overflow: hidden;
}

.wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  color: #312eff;
  width: 500px;
  height: 450px;
}
.wrap.member-selected .member:not(.selected) {
  opacity: 0;
  pointer-events: none;
  transform: perspective(100px) translatez(-50px);
  transition: opacity 300ms cubic-bezier(0.645, 0.045, 0.355, 1),
    transform 800ms cubic-bezier(0.645, 0.045, 0.355, 1),
    height 500ms cubic-bezier(0.645, 0.045, 0.355, 1);
}
.wrap.member-selected .instructions .first {
  opacity: 0;
}
.wrap.member-selected.date-selected .deselect-date {
  opacity: 1;
  pointer-events: auto;
}
.wrap.member-selected.date-selected .calendar .date {
  transform: scale(0.5) translateY(-5px) translateX(0px);
  opacity: 1;
}
.wrap.member-selected.date-selected .calendar .month {
  transform: scale(0.5) translateY(-5px) translateX(100px);
}
.wrap.member-selected.date-selected .calendar .year {
  transform: scale(0.5) translateY(-5px) translateX(200px);
}
.wrap.member-selected.date-selected .calendar table {
  pointer-events: none;
  transform: translateY(50px);
  border-top: 1px solid rgba(221, 221, 221, 0.8);
}
.wrap.member-selected.date-selected .calendar td:not(.selected),
.wrap.member-selected.date-selected .calendar th:not(.selected) {
  opacity: 0;
  transform: perspective(100px) translatez(-50px);
  transition: opacity 300ms cubic-bezier(0.645, 0.045, 0.355, 1),
    transform 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
}
.wrap.member-selected.date-selected .slots {
  opacity: 1;
  transform: translatey(0%);
  pointer-events: auto;
}
.wrap.member-selected.date-selected .slots li {
  transform: translatey(0);
  opacity: 1;
  color: #312eff;
}
.wrap.member-selected.date-selected .slots li:nth-child(1) {
  transition-delay: 0ms;
  transform: translateY(0px) perspective(100px) translateZ(0);
}
.wrap.member-selected.date-selected .slots li:nth-child(2) {
  transition-delay: 83.3333333333ms;
  transform: translateY(50px) perspective(100px) translateZ(0);
}
.wrap.member-selected.date-selected .slots li:nth-child(3) {
  transition-delay: 166.6666666667ms;
  transform: translateY(100px) perspective(100px) translateZ(0);
}
.wrap.member-selected.date-selected .slots li:nth-child(4) {
  transition-delay: 250ms;
  transform: translateY(150px) perspective(100px) translateZ(0);
}
.wrap.member-selected.date-selected .slots li:nth-child(5) {
  transition-delay: 333.3333333333ms;
  transform: translateY(200px) perspective(100px) translateZ(0);
}
.wrap.member-selected.date-selected .slots li:nth-child(6) {
  transition-delay: 416.6666666667ms;
  transform: translateY(250px) perspective(100px) translateZ(0);
}
.wrap.member-selected.date-selected .slots li:nth-child(7) {
  transition-delay: 500ms;
  transform: translateY(300px) perspective(100px) translateZ(0);
}
.wrap.member-selected.date-selected.slot-selected .form {
  opacity: 1;
  transform: translatey(0%);
  pointer-events: auto;
  transition: opacity 500ms cubic-bezier(0.645, 0.045, 0.355, 1),
    transform 800ms cubic-bezier(0.645, 0.045, 0.355, 1);
}
.wrap.member-selected.date-selected.slot-selected .form * {
  transform: translatey(0);
}
.wrap.member-selected.date-selected.slot-selected .form *:nth-child(1) {
  transition-delay: 50ms;
}
.wrap.member-selected.date-selected.slot-selected .form *:nth-child(2) {
  transition-delay: 100ms;
}
.wrap.member-selected.date-selected.slot-selected .form *:nth-child(3) {
  transition-delay: 150ms;
}
.wrap.member-selected.date-selected.slot-selected .form *:nth-child(4) {
  transition-delay: 200ms;
}
.wrap.member-selected.date-selected.slot-selected .form *:nth-child(5) {
  transition-delay: 250ms;
}
.wrap.member-selected.date-selected.slot-selected .form *:nth-child(6) {
  transition-delay: 300ms;
}
.wrap.member-selected.date-selected.slot-selected .deselect-slot {
  opacity: 1;
  pointer-events: auto;
}
.wrap.member-selected.date-selected.slot-selected .slots {
  pointer-events: none;
}
.wrap.member-selected.date-selected.slot-selected .slots li:not(.selected) {
  opacity: 0;
}
.wrap.member-selected.date-selected.slot-selected
  .slots
  li:not(.selected):nth-child(1) {
  transition-delay: 0ms;
  transform: translateY(0px) perspective(100px) translateZ(-50px);
}
.wrap.member-selected.date-selected.slot-selected
  .slots
  li:not(.selected):nth-child(2) {
  transition-delay: 83.3333333333ms;
  transform: translateY(50px) perspective(100px) translateZ(-50px);
}
.wrap.member-selected.date-selected.slot-selected
  .slots
  li:not(.selected):nth-child(3) {
  transition-delay: 166.6666666667ms;
  transform: translateY(100px) perspective(100px) translateZ(-50px);
}
.wrap.member-selected.date-selected.slot-selected
  .slots
  li:not(.selected):nth-child(4) {
  transition-delay: 250ms;
  transform: translateY(150px) perspective(100px) translateZ(-50px);
}
.wrap.member-selected.date-selected.slot-selected
  .slots
  li:not(.selected):nth-child(5) {
  transition-delay: 333.3333333333ms;
  transform: translateY(200px) perspective(100px) translateZ(-50px);
}
.wrap.member-selected.date-selected.slot-selected
  .slots
  li:not(.selected):nth-child(6) {
  transition-delay: 416.6666666667ms;
  transform: translateY(250px) perspective(100px) translateZ(-50px);
}
.wrap.member-selected.date-selected.slot-selected
  .slots
  li:not(.selected):nth-child(7) {
  transition-delay: 500ms;
  transform: translateY(300px) perspective(100px) translateZ(-50px);
}
.wrap.member-selected.date-selected.slot-selected .slots li.selected {
  transform: translateY(0px) perspective(100px) translateZ(0px);
  transition-delay: 0s;
  border-bottom: 1px solid rgba(221, 221, 221, 0.8);
}
.wrap.member-selected.date-selected.slot-selected.booking-complete
  .deselect-member,
.wrap.member-selected.date-selected.slot-selected.booking-complete
  .deselect-date,
.wrap.member-selected.date-selected.slot-selected.booking-complete
  .deselect-slot {
  opacity: 0;
  pointer: none;
}
.wrap.member-selected.date-selected.slot-selected.booking-complete .form {
  transition: opacity 500ms cubic-bezier(0.645, 0.045, 0.355, 1),
    transform 800ms cubic-bezier(0.645, 0.045, 0.355, 1);
}
.wrap.member-selected.date-selected.slot-selected.booking-complete .form:before,
.wrap.member-selected.date-selected.slot-selected.booking-complete .form:after {
  transform: scalex(0);
}
.wrap.member-selected.date-selected.slot-selected.booking-complete .form label {
  opacity: 0;
  transition: opacity 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
}
.wrap.member-selected.date-selected.slot-selected.booking-complete .form input {
  border-bottom: 1px solid rgba(221, 221, 221, 0.8);
  pointer-events: none;
}
.wrap.member-selected.date-selected.slot-selected.booking-complete
  .form
  input[name="name"] {
  padding: 10px 70px;
  transform: translatey(-33px);
}
.wrap.member-selected.date-selected.slot-selected.booking-complete
  .form
  input[name="email"] {
  padding: 10px 70px;
  transform: translatey(-60px);
}
.wrap.member-selected.date-selected.slot-selected.booking-complete
  .form
  input[type="submit"] {
  transform: translatey(-60px);
  opacity: 0;
  transition: transform 500ms cubic-bezier(0.645, 0.045, 0.355, 1),
    opacity 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
}
.wrap.member-selected.date-selected.slot-selected.booking-complete
  .confirm-message {
  opacity: 1;
  transform: translatey(0%);
  pointer-events: auto;
}

.instructions {
  margin-bottom: 25px;
  text-align: center;
  height: 80vh;
  font-weight: 300;
  color: #312eff;
}
.instructions > * {
  transition: opacity 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

.member {
  background: white;
  width: 100%;
  padding: 10px;
  display: flex;
  position: absolute;
  top: 10px;
  align-items: center;
  transition: opacity 800ms cubic-bezier(0.645, 0.045, 0.355, 1),
    transform 500ms cubic-bezier(0.645, 0.045, 0.355, 1),
    height 300ms cubic-bezier(0.645, 0.045, 0.355, 1),
    box-shadow 800ms cubic-bezier(0.645, 0.045, 0.355, 1);
  box-shadow: 5px 5px 20px rgba(49, 46, 255, 0.15);
  overflow: hidden;
}
.member .name {
  display: inline-block;
  margin-left: 20px;
  transition: transform 500ms cubic-bezier(0.645, 0.045, 0.355, 1);
  font-weight: 100;
  font-size: 20px;
}
.member .avatar {
  transform-origin: 100% 0%;
  width: 70px;
  height: 70px;
  border-radius: 100px;
  background-size: cover;
  filter: saturate(50%) contrast(120%);
  transition: transform 500ms cubic-bezier(0.645, 0.045, 0.355, 1);
}
.member .avatar:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100px;
  mix-blend-mode: lighten;
}
.member:nth-child(1) {
  transform: translatey(70px) perspective(100px) translatez(-10px);
}
.member:nth-child(2) {
  transform: translatey(170px) perspective(100px) translatez(-10px);
}
.member:nth-child(3) {
  transform: translatey(270px) perspective(100px) translatez(-10px);
}
.member:nth-child(4) {
  transform: translatey(370px) perspective(100px) translatez(-10px);
}
